{{extend "layout.html"}}

<div class="col-md-3"></div>
<div class="col-md-6">
    
    <h1>ABOUT DATA AND HYPATIA</h1>
<p>Below is a table of the column labels used in the Hypatia Catalog Database, the associated units, and a description of the data with source, where applicable.</p>
<table class="table table-striped">
<tbody>
<tr>
<th>
<p>Label</p>
</th>
<th>
<p>Unit</p>
</th>
<th>
<p>Description</p>
</th>
</tr>
<tr>
<td>
<p>HIP</p>
</td>
<td>
<p>---</p>
</td>
<td>
<p>Hipparcos name</p>
</td>
</tr>
<tr>
<td>
<p>HD</p>
</td>
<td>
<p>---</p>
</td>
<td>
<p>Henry-Draper catalog name</p>
</td>
</tr>
<tr>
<td>
<p>2MASS</p>
</td>
<td>
<p>---</p>
</td>
<td>
<p>2MASS name</p>
</td>
</tr>
<tr>
<td>
<p>RAdeg</p>
</td>
<td>
<p>deg</p>
</td>
<td>
<p>Right Ascension decimal degrees (J2000) from <a href="http://vizier.u-strasbg.fr/viz-bin/VizieR?-source=I/345">Gaia DR2</a></p>
</td>
</tr>
<tr>
<td>
<p>DEdeg</p>
</td>
<td>
<p>deg</p>
</td>
<td>
<p>Declination decimal degrees (J2000) from <a href="http://vizier.u-strasbg.fr/viz-bin/VizieR?-source=I/345">Gaia DR2</a></p>
</td>
</tr>
<tr>
<td>
<p>X</p>
</td>
<td>
<p>pc</p>
</td>
<td>
<p>Cartesian geocentric x-coordinate from the Sun</p>
</td>
</tr>
<tr>
<td>
<p>Y</p>
</td>
<td>
<p>pc</p>
</td>
<td>
<p>Cartesian geocentric y-coordinate from the Sun</p>
</td>
</tr>
<tr>
<td>
<p>Z</p>
</td>
<td>
<p>pc</p>
</td>
<td>
<p>Cartesian geocentric z-coordinate from the Sun</p>
</td>
</tr>
<tr>
<td>
<p>Dist</p>
</td>
<td>
<p>pc</p>
</td>
<td>
<p>distance in pc (from <a href="http://vizier.u-strasbg.fr/viz-bin/VizieR?-source=I/345">Gaia DR2</a> and <a href="http://adsabs.harvard.edu/abs/2012AstL...38..331A">Anderson et al. 2012</a>)</p>
</td>
</tr>
<tr>
<td>
<p>pmRA</p>
</td>
<td>
<p>km/s</p>
</td>
<td>
<p>proper motion for Right Ascension (from <a href="http://vizier.u-strasbg.fr/viz-bin/VizieR?-source=I/345">Gaia DR2</a> and <a href="http://adsabs.harvard.edu/abs/2012AstL...38..331A">Anderson et al. 2012</a>)</p>
</td>
</tr>
<tr>
<td>
<p>pmDec</p>
</td>
<td>
<p>km/s</p>
</td>
<td>
<p>proper motion for Declination (from <a href="http://vizier.u-strasbg.fr/viz-bin/VizieR?-source=I/345">Gaia DR2</a> and Anderson et al. 2012)</p>
</td>
</tr>
<tr>
<td>
<p>UVel</p>
</td>
<td>
<p>km/s</p>
</td>
<td>
<p>Component of space velocity positive toward the Galactic anticenter radial (from <a href="http://adsabs.harvard.edu/abs/2012AstL...38..331A">Anderson et al. 2012</a>, null = 9999.0)</p>
</td>
</tr>
<tr>
<td>
<p>VVel</p>
</td>
<td>
<p>km/s</p>
</td>
<td>
<p>Component of space velocity positive in the direction of Galactic rotation (from <a href="http://adsabs.harvard.edu/abs/2012AstL...38..331A">Anderson et al. 2012</a>, null = 9999.0)</p>
</td>
</tr>
<tr>
<td>
<p>WVel</p>
</td>
<td>
<p>km/s</p>
</td>
<td>
<p>Component of space velocity positive toward the North Galactic Pole (from <a href="http://adsabs.harvard.edu/abs/2012AstL...38..331A">Anderson et al. 2012</a>, null = 9999.0)</p>
</td>
</tr>
<tr>
<td>
<p>Teff</p>
</td>
<td>
<p>K</p>
</td>
<td>
<p>stellar effective temperature (from <a href="http://adsabs.harvard.edu/cgi-bin/bib_query?arXiv:1605.07384">PASTEL</a>)</p>
</td>
</tr>
<tr>
<td>
<p>logg</p>
</td>
<td>
<p>cm/s^2</p>
</td>
<td>
<p>surface gravity of the star (from <a href="http://adsabs.harvard.edu/cgi-bin/bib_query?arXiv:1605.07384">PASTEL</a>)</p>
</td>
</tr>
<tr>
<td>
<p>Disk</p>
</td>
<td>
<p>---</p>
</td>
<td>
<p>likely origin within the disk/thin/thick based on kinematics (null = "N/A")</p>
</td>
</tr>
<tr>
<td>
<p>SpT</p>
</td>
<td>
<p>---</p>
</td>
<td>
<p>spectral type (from <a href="http://adsabs.harvard.edu/abs/2012AstL...38..331A">Anderson et al. 2012</a>)</p>
</td>
</tr>
<tr>
<td>
<p>Bmag</p>
</td>
<td>
<p>mag</p>
</td>
<td>
<p>B magnitude (from <a href="http://adsabs.harvard.edu/cgi-bin/bib_query?arXiv:1605.07384">PASTEL</a>)</p>
</td>
</tr>
<tr>
<td>
<p>Vmag</p>
</td>
<td>
<p>mag</p>
</td>
<td>
<p>V magnitude (from <a href="http://adsabs.harvard.edu/cgi-bin/bib_query?arXiv:1605.07384">PASTEL</a>)</p>
</td>
</tr>
<tr>
<td>
<p>B-V</p>
</td>
<td>
<p>mag</p>
</td>
<td>
<p>B-V color (from <a href="http://adsabs.harvard.edu/cgi-bin/bib_query?arXiv:1605.07384">PASTEL</a>)</p>
</td>
</tr>
<tr>
<td>
<p>letter</p>
</td>
<td>
<p>---</p>
</td>
<td>
<p>planet letter (from <a href="https://exoplanetarchive.ipac.caltech.edu/">NASA Exoplanet Archive</a>)</p>
</td>
</tr>
<tr>
<td>
<p>multi</p>
</td>
<td>
<p>---</p>
</td>
<td>
<p>number of planets in the system (from <a href="https://exoplanetarchive.ipac.caltech.edu/">NASA Exoplanet Archive</a>)</p>
</td>
</tr>
<tr>
<td>
<p>pmass</p>
</td>
<td>
<p>M_Jupiter</p>
</td>
<td>
<p>planetary mass (from <a href="https://exoplanetarchive.ipac.caltech.edu/">NASA Exoplanet Archive</a>)</p>
</td>
</tr>
<tr>
<td>
<p>period</p>
</td>
<td>
<p>days</p>
</td>
<td>
<p>planetary period (from <a href="https://exoplanetarchive.ipac.caltech.edu/">NASA Exoplanet Archive</a>)</p>
</td>
</tr>
<tr>
<td>
<p>ecc</p>
</td>
<td>
<p>---</p>
</td>
<td>
<p>planetary eccentricity (from <a href="https://exoplanetarchive.ipac.caltech.edu/">NASA Exoplanet Archive</a>)</p>
</td>
</tr>
<tr>
<td>
<p>sma</p>
</td>
<td>
<p>AU</p>
</td>
<td>
<p>planetary semimajor axis (from <a href="https://exoplanetarchive.ipac.caltech.edu/">NASA Exoplanet Archive</a>)</p>
</td>
</tr>
<tr>
<td>
<p>smass</p>
</td>
<td>
<p>M_Sun</p>
</td>
<td>
<p>stellar mass (from <a href="https://exoplanetarchive.ipac.caltech.edu/">NASA Exoplanet Archive</a>)</p>
</td>
</tr>
<tr>
<td>
<p>radius</p>
</td>
<td>
<p>R_Sun</p>
</td>
<td>
<p>stellar radius (from <a href="https://exoplanetarchive.ipac.caltech.edu/">NASA Exoplanet Archive</a>)</p>
</td>
</tr>
<tr>
<td>
<p>X</p>
</td>
<td>
<p>dex</p>
</td>
<td>
<p>[X/H] abundance in dex as compiled from multiple catalogs (which can be included/excluded in plots)</p>
</td>
</tr>
<tr>
<td>
<p>spX</p>
</td>
<td>
<p>dex</p>
</td>
<td>
<p>Spread in XH in dex or the range in abundance measurements as reported by multiple catalogs (which can in allowed/excluded)</p>
</td>
</tr>
</tbody>
</table>
    
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span class="c5">For a complete breakdown of all catalogs (with &gt; 20 stars) included in the Hypatia Catalog and Hypatia Catalog Database, please download </span><span class="c12"><a class="c6" href="https://www.google.com/url?q=https://drive.google.com/open?id%3D0B6JubEpe8-76YjlBakJydy1OaXM&amp;sa=D&amp;ust=1506631377510000&amp;usg=AFQjCNGwfIsqhAhn9jWrSNMICzGTEsuFTw">this file</a></span><span class="c5">, the components of which can be found in Hinkel et al. (</span><span class="c12"><a class="c6" href="https://www.google.com/url?q=http://adsabs.harvard.edu/abs/2014AJ....148...54H&amp;sa=D&amp;ust=1506631377511000&amp;usg=AFQjCNF1BSRlV4AcXcdf4o-vmogWFXEkjA">2014</a></span><span class="c5">, </span><span class="c12"><a class="c6" href="https://www.google.com/url?q=http://adsabs.harvard.edu/abs/2016ApJS..226....4H&amp;sa=D&amp;ust=1506631377511000&amp;usg=AFQjCNHsEP5cIdIV5v6WmREoahd7MPKtSg">2016</a></span><span class="c5">, and </span><span class="c12"><a class="c6" href="https://www.google.com/url?q=http://adsabs.harvard.edu/abs/2017arXiv170904465H&amp;sa=D&amp;ust=1506631377511000&amp;usg=AFQjCNFPLiRayqOR-KV-ijNo-6HWUYpbqw">2017</a></span><span class="c5">). In the header, &ldquo;S/N&rdquo; is signal-to-noise report by the literature source, &ldquo;</span><span class="c26">&lambda;</span><span class="c5">&nbsp;Range&quot; is the wavelength coverage, &quot;Stellar Atmo&quot; is the stellar atmospheric model, &quot;Eq. Width&quot; is the package used to determine the equivalent width, &quot;CoG or SF&quot; designates whether the group used a curve-of-growth or spectral fitting technique where the package is specified in the former case, the &quot;Solar Scale&quot; is the solar normalization used by that group (differential analysis is cited where applicable), and &quot;Num. of Fe I/II lines&quot; lists the number of Fe I and Fe II lines. While this accumulation of telescope information, reduction packages, and overall technique was done with the best intentions, errors may arise so please check the original source for verification. Please email </span><span class="c12"><a class="c6" href="mailto:hypatiacatalog@gmail.com">hypatiacatalog@gmail.com</a></span><span class="c0">&nbsp;with any questions or concerns. </span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c3 c9"><span class="c5">Per the ionization states, w</span><span class="c5">hile some catalogs measured only one ionization state when reporting an abundance determination, a number of catalogs combined the abundances from multiple ionization states. In Hypatia, an abundance of [X/Fe] means that a catalog measured the neutral state, a combination of neutral and ionized state(s), or it was not specified. Whenever a catalog specifically mentioned it was only measuring the singly ionized state, we demarcate it as [X II/Fe]. </span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c3 c9"><span class="c0">A note about binaries, in the event that abundances were measured within a stellar binary system (i.e., labeled &ldquo;A&rdquo; and &ldquo;B&rdquo; in the naming scheme), the abundances for the &ldquo;A&rdquo; component were preferentially chosen while the &ldquo;B&rdquo; component was ignored. This was done for computational reasons, not scientific, and so this feature may be updated in a later iteration.</span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span>Finally, the Hypatia Catalog and Hypatia Catalog Database were named for Hypatia of Alexandria, one of the first known female astronomers. She was strong-minded, independent, and well respected by both the people and local officials. Socrates Scholasticus* once said of her, &ldquo;For all men on account of her extraordinary dignity and virtue admired her the more.&rdquo; &nbsp;For more information, please go to </span><span class="c12"><a class="c6" href="https://www.google.com/url?q=http://www.nataliehinkel.com/hypatia-catalog.html&amp;sa=D&amp;ust=1506631377513000&amp;usg=AFQjCNGk9UjG1cgDOWxjTUcGPeg-UocIGw">this page, where more resources can be found.</a></span><span class="c4">&nbsp;</span></p>
    <p class="c2"><span class="c4"></span></p>
    <small><span>*Socrates Scholasticus is not to be confused with Socrates, the Greek philosopher who lived 800 years before Hypatia's time.</span></small>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    
</div>