{{extend "layout.html"}}

<div class="col-md-3"></div>
<div class="col-md-6">
<h1 class="c14" id="h.c2spruqyebao"><span class="c7">ACKNOWLEDGMENTS</span></h1>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9 c15"><span class="c17 c20">If you have used the Hypatia Catalog Database in published research, please include the following acknowledgement: </span></p>
    <p class="c2 c15"><span class="c4"></span></p>
    <p class="c3 c9 c15"><span>The research shown here acknowledges use of the Hypatia Catalog Database, an online compilation of stellar abundance data as described in </span><span class="c12"><a class="c6" href="https://www.google.com/url?q=http://adsabs.harvard.edu/abs/2014AJ....148...54H&amp;sa=D&amp;ust=1506631377454000&amp;usg=AFQjCNFjG7yInTC-qTonD_87Z1s-G2ACJg">Hinkel et al. (2014, AJ, 148, 54)</a></span><span class="c4">, which was supported by NASA&#39;s Nexus for Exoplanet System Science (NExSS) research coordination network and the Vanderbilt Initiative in Data-Intensive Astrophysics (VIDA).</span></p>
    <p class="c2 c15"><span class="c4"></span></p>
    <p class="c3 c9 c15"><span>Additionally, please cite the original Hypatia Catalog paper: </span><span class="c12"><a class="c6" href="https://www.google.com/url?q=http://adsabs.harvard.edu/abs/2014AJ....148...54H&amp;sa=D&amp;ust=1506631377455000&amp;usg=AFQjCNEMjK3iuTDPABY33q_4lKC9STzkMA">http://adsabs.harvard.edu/abs/2014AJ....148...54H</a></span><span class="c4">. </span></p>
    <hr/>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span class="c4">In the event that a small number of catalogs was used within an analysis, we highly encourage the citation of those individual papers. However, we still appreciate the acknowledgment of the Hypatia Catalog and database, in order to give credit for the use of the website, internal algorithms, and availability of the data (since +50% of the catalogs were not available in machine-readable formats prior to this compilation). </span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span>The Hypatia Catalog and Hypatia Catalog Database was created and is currently maintained by </span><span class="c17">Dr. Natalie Hinkel</span><span class="c4">. </span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span>The lead developer for the online Hypatia Catalog Database is </span><span class="c17">Dan Burger</span><span class="c4">, <br>who acknowledges support from the Vanderbilt Center for Autism and Innovation.</span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span>Additional developer support by </span><span class="c17">Nitin Pasumarthy, Benjamin Knight</span><span>, and </span><span class="c17">Wendy Yu</span><span class="c4">. </span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span>Logo by </span><span class="c17">Nahks Tr&rsquo;Ehnl, </span><span>who can be found at </span><span class="c12"><a class="c6" href="https://www.google.com/url?q=http://www.nahks.com&amp;sa=D&amp;ust=1506631377457000&amp;usg=AFQjCNFelaaED8XJYwZM-Q6jtlrQuxQaFw">www.nahks.com</a></span><span class="c4">. </span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span>Additional thanks to </span><span class="c17">Kevin White, Dr. Garrett Somers,</span><span>&nbsp;and </span><span class="c17">Dr. Caleb Wheeler</span><span class="c4">. &nbsp;</span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span>Please send any website or data updates, issues, or corrections to </span><span class="c12"><a class="c6" href="mailto:hypatiacatalog@gmail.com">hypatiacatalog@gmail.com</a></span><span class="c4">. You can also find us on Twitter via @hypatiacatalog. </span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <br/><br/><br/><br/><br/>
    </div>