{{extend "layout.html"}}

<div class="col-md-3"></div>
<div class="col-md-6">

<h1 class="c14" id="h.lj4on8a25zbx"><span class="c7">GETTING STARTED</span></h1>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span class="c5">Stellar abundance information provides one of the primary tools for understanding everything from the evolutions of the Milky Way galaxy to the structure and mineralogy of exoplanets. </span><span class="c5">The Hypatia Catalog is a composite stellar abundance catalog that is comprised of multiple literature sources of high resolution spectroscopic data which was originally introduced in Hinkel et al. (</span><span class="c12"><a class="c6" href="https://www.google.com/url?q=http://adsabs.harvard.edu/abs/2014AJ....148...54H&amp;sa=D&amp;ust=1506631377460000&amp;usg=AFQjCNGvtQlIKrCZJaoGDO5Jtkii60GlZg">2014</a></span><span class="c5">) and subsequently updated in Hinkel et al. (</span><span class="c12"><a class="c6" href="https://www.google.com/url?q=http://adsabs.harvard.edu/abs/2016ApJS..226....4H&amp;sa=D&amp;ust=1506631377460000&amp;usg=AFQjCNFHGy9qrYVqA44_jbRuueiiEoDwEg">2016</a></span><span class="c5">, </span><span class="c12"><a class="c6" href="https://www.google.com/url?q=http://adsabs.harvard.edu/abs/2017arXiv170904465H&amp;sa=D&amp;ust=1506631377460000&amp;usg=AFQjCNHHUugpkRiU5vIXGIm0gjI7FDCXNA">2017</a></span><span class="c5">). A breakdown of all the included catalogs, including information regarding the telescopes, models, and techniques, is given in </span><span class="c12"><a class="c6" href="https://www.google.com/url?q=https://drive.google.com/open?id%3D0B6JubEpe8-76YjlBakJydy1OaXM&amp;sa=D&amp;ust=1506631377461000&amp;usg=AFQjCNGJt_ecydPcIcBvvaz1EI7fMZ8OaQ">this table</a></span><span class="c0">. </span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c2"><span class="c0"></span></p>
    <h1 class="c14" id="h.tf4ppwc01gp9"><span class="c7">PLOTS</span></h1>
    <p class="c2"><span class="c0"></span></p>
    <h2 class="c23" id="h.1dznyhutv8a8"><span class="c25">Elements &amp; Properties</span></h2>
    <p class="c3 c9"><span class="c5">To begin, the plot can be filtered using the 3 filter boxes on the top right that provide minimum and maximum values (either can be left blank in place of infinity). The &ldquo;Submit&rdquo; button must be clicked in order to enact changes. Options for the filter criteria can be accessed by clicking on the dropdown menu that says &ldquo;none&rdquo; as default. From the dropdown menu, if an element is chosen from the Periodic Table, the options to filter changes to be an X/Y ratio. In addition to the neutral state of the element, if the singly ionized element has been measured, the &ldquo;II&rdquo; next to the element can be selected </span><span class="c13">(hyperlink to the &ldquo;About Data and Hypatia&rdquo; page)</span><span>. </span><span class="c5">Stellar properties are listed along the bottom of the drop down menu in addition to planetary properties. </span><span class="c17 c5">If any of planetary properties are chosen, then the graph will show only planet hosting stars.</span><span class="c5 c24">&nbsp;</span><span class="c0">The X and Y axes can plot any of the element ratios, stellar properties, or planet properties. Additionally, the Z-axis, or color, can be initialized to show another dimension. </span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c3 c9"><span class="c0">To move, adjust, zoom, or generally change the properties of the plot, the tools listed vertically along the right side of the plot can be toggled to make the appropriate adjustments. Additionally, the figure can be saved by clicking the &ldquo;Save&rdquo; button near the bottom. </span></p>
    <p class="c2"><span class="c0"></span></p>
    <h2 class="c23" id="h.mcom9jup1wtd"><span class="c25">Stars With &amp; Without Planets</span></h2>
    <p class="c3 c9"><span class="c5">While the plot showing &ldquo;Elements and Properties&rdquo; enables a user to look at </span><span class="c24 c5">either</span><span class="c5">&nbsp;planet hosting stars or stars that are not currently known to have planets, we wanted to provide the ability to look at the two populations simultaneously. Therefore, we have provided a 1D histogram that shows both stars with and without planets. Similar to the other plot, the filter bar can be used to make cuts on those stars analyzed. Additionally, the histogram can viewed either in terms of total number of stars in a bin or normalized (by checking the &ldquo;Normalize the histogram&rdquo; toggle) according to the bin with most number of stars, which has a height of 1 by definition. &nbsp;</span></p>
    <p class="c2"><span class="c0"></span></p>
    <h1 class="c14" id="h.agtiyh92ekx"><span class="c7">ADVANCED CONTROLS</span></h1>
    <p class="c3 c9"><span class="c0">For those users wishing to change some of the more nuanced aspects of the stellar abundances within the Hypatia Catalog and Database, we provide the ability to make adjustments. In order to ensure that all of the stellar abundances within Hypatia are on the same baseline, all individual catalogs have been renormalized to the same solar normalization. The default is Lodders et al. (2009). As part of the database, the user can change the solar normalization to be with respect to Asplund et al. (2009), Asplund et al. (2005), Grevesse &amp; Sauval (1998), and Anders &amp; Grevesse (1989). If the user would like to view the stellar abundances with respect to the solar normalization employed by each of the catalogs individually, the &ldquo;Internal&rdquo; option can be chosen. Similarly, the absolute abundances, namely without a solar normalization, can be viewed by choosing &ldquo;Absolute.&rdquo;</span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c3 c9"><span class="c5">The Hypatia Catalog is a multidimensional database, which utilizes all stellar abundances measurements made for an element within a star by +200 catalogs (see Hinkel et al. 2014, Fig 3). Therefore, to provide a 2-dimensional table, th</span><span class="c5">ose</span><span class="c5">&nbsp;measurement</span><span class="c5">s</span><span class="c0">&nbsp;must be collapsed or reduced. The toggle &ldquo;If an element ratio is in multiple catalogs&rdquo; changes the reduction method to either take the median (default) or mean of all measurements of an element in a star. </span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c3 c9"><span class="c0">Finally, while the Hypatia Catalog and Database is unbiased in its inclusion of datasets, we recognize that the user may wish to look exclusively at particular catalogs. We have provided a toggle that allows the user to switch between &ldquo;Excluding&rdquo; or &ldquo;Allowing&rdquo; individual catalogs as they see fit. </span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c2"><span class="c0"></span></p>
    <h1 class="c14" id="h.2f69whuql8by"><span class="c7">TABLE</span></h1>
    <p class="c3 c9"><span class="c5 c17">The table is filtered using the filter bars at the top. </span><span class="c5">The columns that are shown in the table can be adjusted using the &ldquo;Add/remove columns&rdquo; button, which gives the user the ability to include individual elements (all [X/H] unless the Absolute solar normalization is chosen, see below). Additionally, all stellar properties (RA, Dec, XYZ position, distance, disk, spectral type, V mag, B-V, UVW galactic velocity, Teff, and logg) and all planetary properties (planet letter, period, planet mass, eccentricity, and semimajor axis, where applicable) can be given in the table. </span><span class="c13">(hyperlink to the &ldquo;About Data and Hypatia&rdquo; page)</span><span class="c0">&nbsp;Finally, the user can also view the spread (or error) in the stellar abundances. Per the Hypatia Catalog (Hinkel et al. 2014), the spread is defined as the range in the stellar abundance measurements when determined by different groups measuring that same element within that same star. The spread is an exceptionally useful tool to truly define how well an abundance measurement is &ldquo;understood&rdquo; within the star (see Hinkel et al. 2016 for more details). </span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c2"><span class="c0"></span></p>
</div>