<table>
    {{for i in range(len(result)):}}
    <tr {{if i in middle:}}style="background:#FFC"{{pass}}><td style="text-align:right;padding-right:10px">{{="%.2f" % result[i][0]}}</td><td><small>{{=result[i][1]}}</small></td></tr>
    {{pass}}
</table>

{{if request.vars.catalogs != "[]" and request.vars.cat_action == "only":}}<br/>
<i>Only the allowed catalogs are used to calculate this value.</i>
{{pass}}