{{extend 'layout.title.html'}}

<div class="jumbotron">
      <div class="container">
        <img src="/hypatia/static/images/hypatialogo2.png" style="float:left;width:270px">
        <h1 class="display-3">Hypatia Catalog Database</h1>
        <p>Explore stellar abundance data on <b>{{="{:,}".format(counts['stars'])}}</b> stars, 
        <b>{{="{:,}".format(counts['stars_with_planets'])}}</b> of which host planets, 
        <b>{{="{:,}".format(counts['elements'])}}</b> elements and species, 
        <b>{{="{:,}".format(counts['catalogs'])}}</b> catalogs, and 
        <b>{{="{:,}".format(counts['abundances'])}}</b> abundance measurements.</p>
        <p><a class="btn btn-primary btn-lg" href="/hypatia/default/launch" role="button">Get Started »</a></p>
      </div>
    </div>
    
<div class="container">
      <div class="row">
        <div class="col-md-12">
          
          <p class="lead">The Hypatia Catalog Database features an interactive table and multiple plotting interfaces that allow easy access and exploration of data within the Hypatia Catalog. The Hypatia Catalog is a multidimensional, amalgamate dataset comprised of stellar abundance measurements for FGK-type stars within 150 pc of the Sun from carefully culled literature sources that measured both [Fe/H] and at least one other element. In addition to abundances, stellar properties and planetary properties, where applicable, have been made available within the Hypatia Catalog Database. Data can also be downloaded currently through the website for use in personal plotting routines, to be made accessible through the terminal in the near future.</p> 

<p class="lead">A detailed description of the Hypatia Catalog can be found in <a href="http://adsabs.harvard.edu/abs/2014AJ....148...54H">Hinkel et al. (2014).</a> The Hypatia Catalog and Hypatia Catalog Database will continue to be routinely updated in order to incorporate the most recent stellar abundance data published within the literature -- the most recent of which can be found in <a href="http://adsabs.harvard.edu/abs/2017arXiv170904465H">Hinkel et al. (2017)</a>. </p>
<p class="lead">
Help and documentation for the Hypatia Catalog Database can be found in the Help link in the top right corner. Thank yous and acknowledgments to be included in published papers can be found here. Finally, for any website or data updates, issues, or corrections, please email <a href="mailto:hypatiacatalog@gmail.com">hypatiacatalog@gmail.com</a>. 
</p>
<img style="width:100%" src="{{=URL('static','images/abundances.png')}}" alt="Plot of Fe/H vs Si/H">
<p class="font-italic text-center text-muted"><br/>Number of stars with each abundance as of June 2019. Each star in the Hypatia Catalog has at least [Fe/H] and one other element.</p>
<br/><br/><br/>
        </div>
      </div>
    </div>