{{extend 'layout.html'}}
{{from datetime import datetime}}

{{if auth.user_id == 1:}}
{{=response.toolbar()}}
{{pass}}
    <div style="float:left;width:750px;height:625px;display:table;font-size:20px;font-weight:bold;margin-bottom:20px">
        <div style="display:table-cell;vertical-align:middle;text-align:center;background:#dddddd;height:625px" id="graph">
        {{=LOAD("default","graph.load",ajax=True,content="Loading...")}}
        </div>
    </div>
    

    <div style="float:left;padding-left:20px">

        <form method="post">
            <input class="hidden" name="graph_submit" value="true">
            <div class="alert alert-info" style="max-width:400px"><b>New!</b> Now the graph and table updates automatically when you change the settings.</div>
            <div class="alert alert-info" id="diskalert" style="display:none;max-width:400px">Values are assigned zero for thin disk and one for thick disk.</div>
            <div class="alert alert-info" id="specalert" style="display:none;max-width:400px">Spectral type values are assigned a number: F = 10, G = 20, K = 30, M = 40, plus the subclass digit (1-10), plus the roman numeral value * 0.01. Example. F2V = 12.05.</div>
            <dl>

                <dt>Filter:</dt>
                <dd>
                    {{=LOAD("default","dropdown.load",vars=dict(id="filter1_",value1=session.filter1_1,value2=session.filter1_2,value3=session.filter1_3,value4=session.filter1_4,inverse=session.filter1_inv,filter=True,allownone=True))}}
                    {{=LOAD("default","dropdown.load",vars=dict(id="filter2_",value1=session.filter2_1,value2=session.filter2_2,value3=session.filter2_3,value4=session.filter2_4,inverse=session.filter2_inv,filter=True,allownone=True))}}
                    {{=LOAD("default","dropdown.load",vars=dict(id="filter3_",value1=session.filter3_1,value2=session.filter3_2,value3=session.filter3_3,value4=session.filter3_4,inverse=session.filter3_inv,filter=True,allownone=True))}}
                </dd>
                <br/>
                <dt>X-axis:</dt>
                <dd>
                    {{=LOAD("default","dropdown.load",vars=dict(id="xaxis",value1=session.xaxis1,value2=session.xaxis2,log=(session.mode=="scatter"),logstate=session.xaxislog,inverse=session.xaxisinv))}}
                </dd>
                <br/>
                {{if session.mode == "scatter":}}
                <dt>Y-axis:</dt>
                <dd>
                    {{=LOAD("default","dropdown.load",vars=dict(id="yaxis",value1=session.yaxis1,value2=session.yaxis2,log=True,logstate=session.yaxislog,inverse=session.yaxisinv))}}
                </dd>
                <br/>
                <dt>Z-axis (color):</dt>
                <dd>
                    {{=LOAD("default","dropdown.load",vars=dict(id="zaxis",value1=session.zaxis1,value2=session.zaxis2,allownone=True,log=True,logstate=session.zaxislog,inverse=session.zaxisinv))}}
                </dd>
                <br/>
                {{else:}}
                <dd>
                    <input type="checkbox" {{if session.normalize:}}checked="checked"{{pass}} id="normalize" name="normalize" onchange="refresh()">
                    <label for="normalize">Normalize the histogram</label>
                </dd>
                <br/>
                {{pass}}
                <dt>Solar Norm:</dt>
                <dd><select class="form-control" name="solarnorm" onchange="refresh()">
                    {{for s in solarnorms:}}
                    <option name="solarnorm" value="{{=s.id}}" {{if s.id==session.solarnorm:}}selected="selected"{{pass}}>{{=s.f_author}} {{if s.f_year:}}({{=s.f_year}}{{=s.f_version}}) {{=s.f_notes}}{{pass}}</option>
                    {{pass}}
                </select></dd>
                <br/>
                <dt>If element ratio is in multiple catalogs:</dt>
                <dd><select class="form-control" name="statistic" onchange="refresh()">
                    <option name="statistic" value="median" {{if session.statistic=="median":}}selected="selected"{{pass}}>Use the median</option>
                    <option name="statistic" value="mean" {{if session.statistic=="mean":}}selected="selected"{{pass}}>Use the mean</option>
                </select></dd>
<br/>
                <dt>
                    <select name="cat_action" onchange="refresh()">
                        <option value="exclude" {{if session.cat_action == "exclude":}}selected="selected"{{pass}}>Exclude</option>
                        <option value="only" {{if session.cat_action == "only":}}selected="selected"{{pass}}>Allow only</option>
                    </select> catalogs:</dt>
                <dd>
                    <select id="catalogs" name="catalogs" multiple="multiple" class="form-control">
                        {{for c in catalogs:}}
                        <option name="catalogs" value="{{=c.id}}" {{if session.catalogs:}}{{if c.id in session.catalogs:}}selected="selected"{{pass}}{{pass}}>{{if c.f_display_name:}}{{=c.f_display_name}}{{else:}}{{=c.f_author}} ({{=c.f_year}}{{=c.f_version}}){{pass}}</option>
                        {{pass}}
                    </select>
                </dd>
<br/>
                <dt>
                    <select name="star_action" onchange="refresh()">
                        <option value="exclude" {{if session.star_action == "exclude":}}selected="selected"{{pass}}>Exclude</option>
                        <option value="only" {{if session.star_action == "only":}}selected="selected"{{pass}}>Allow only</option>
                    </select> stars by 
                    <select name="star_source" onchange="refresh()">
                        <option value="hip" {{if session.star_source == "hip":}}selected="selected"{{pass}}>HIP</option>
                        <option value="hd" {{if session.star_source == "hd":}}selected="selected"{{pass}}>HD</option>
                    </select>
                    :</dt>
                <dd>
                    <input type="text" id="star_list" name="star_list" placeholder="e.g. 56572,7599,57172" class="form-control" value="{{=session.star_list or ''}}" onchange="refresh()">
                </dd>
<br/>
                <dt></dt>
                <dd><input class="btn btn-default" type="submit"></dd>
                
                <input type="hidden" id="mode" name="mode" value="{{=request.vars.mode or 'scatter'}}">
                

        </form>
    </div>


</div>
<div style="margin:10px">
    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
    Download this image:
    <a class="btn btn-link" href="#" onclick='$(".bk-tool-icon-save").click()'>PNG</a>
    <a class="btn btn-link" href="/hypatia/default/graph.html" target="_blank">Print/PDF</a>
</div>
</div>


    <div style="background:#f8f8f8;text-align:center;padding:8px;border-top: 2px solid #4e11b7">
<b><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> <big>Stellar Data Table&nbsp;&nbsp;&nbsp;&nbsp;</b><span id="status"></span></big>
</div>

<form method="post" style="padding-bottom:20px; background: #f8f8f8; border-bottom: 2px solid #4e11b7">
    <input class="hidden" name="table_submit" value="true">
<div id="tablesettings" style=" margin-left:auto;margin-right:auto;width:880px">
    
      <input style="display:none" type="radio" id="tablesource_graph" name="tablesource" value="graph" {{if session.tablesource=="graph":}}checked="checked"{{pass}}> <label style="display:none" for="tablesource_graph">Use stars plotted in the graph above</label><br/>
      <input style="display:none" type="radio" id="tablesource_list" name="tablesource" value="list" {{if session.tablesource=="list":}}checked="checked"{{pass}}> <label style="display:none" for="tablesource_list">Use stars from a list of <select name="tableidentifier" id="tableidentifier" onchange="$('#tablesource_list').prop('checked',true);">
                        <option value="hip" {{if session.tableidentifier == "hip":}}selected="selected"{{pass}}>HIP</option>
                        <option value="hd" {{if session.tableidentifier == "hd":}}selected="selected"{{pass}}>HD</option>
                    </select> identifiers: </label><input type="text" id="tablelist" name="tablelist" placeholder="e.g. 56572,7599,57172" style="width:400px;display:none" value="{{=session.tablelist or ''}}">
    
    {{=XML(buildPeriodicTable(showSpecies=True))}}
    <br/>
    
    <div>
    <btn id="pt-stellar" class="btn btn-pt btn-default" onclick="toggle(this);refresh_table();">Add Stellar Properties</btn>
    <btn id="pt-planet" class="btn btn-pt btn-default" onclick="toggle(this);refresh_table();">Add Planet Properties</btn>
    <btn id="pt-spread" class="btn btn-pt btn-default" onclick="toggle(this);refresh_table();">Add Spread or Error</btn>
<input id="tablecols" name="tablecols" type="hidden">
<br/><br/>
<div class="btn-group" role="group">
<input type="submit">
<btn class="btn btn-default" onclick="reset();">Reset</btn>
<div class="btn-group" role="group">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="display:none">
    Download Data Table
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/hypatia/default/table.html/hypatia-{{=datetime.strftime(datetime.now(),'%d%m%Y')}}.html?download=true">Save as HTML</a></li>
    <li><a href="/hypatia/default/table.csv/hypatia-{{=datetime.strftime(datetime.now(),'%d%m%Y')}}.csv?download=true">Save as CSV</a></li>
    <li><a href="/hypatia/default/table.tsv/hypatia-{{=datetime.strftime(datetime.now(),'%d%m%Y')}}.tsv?download=true">Save as TSV</a></li>
  </ul>
</div>
</div>
</div>
</div>
</form>
<br/>
<div style="margin-left:20px;margin-bottom:20px">
    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Download this table:
    <a class="btn btn-link" href="/hypatia/default/table.html/hypatia-{{=datetime.strftime(datetime.now(),'%d%m%Y')}}.html?download=true">HTML</a>
    <a class="btn btn-link" href="/hypatia/default/table.csv/hypatia-{{=datetime.strftime(datetime.now(),'%d%m%Y')}}.csv?download=true">CSV</a>
    <a class="btn btn-link" href="/hypatia/default/table.tsv/hypatia-{{=datetime.strftime(datetime.now(),'%d%m%Y')}}.tsv?download=true">TSV</a>
</div>
{{=LOAD("default","table.load",target="stars",ajax=True,timeout=999999)}}
<div id="stars"></div>

<style>
    .hide {
        display:none;
    }
    div.stickyHeader {
        top:0;
        position:fixed;
        _position:absolute;
    }
    .bk-tooltip div:nth-child(n+11) {
        display:none;
    }
    a {
        color: #4e11b7;
    }
</style>

<script>
    function refresh() {
        $("#graph > div").css("opacity",0.5);
        items = []
        $("form input[name],select[name]").each(function() {
            items.push(this.name)
        });

        ajax('/hypatia/default/graph.load',items,'graph');
    }

    function refresh_table() {
        items = []
        $("#tablesettings input[name],select[name]").each(function() {
            items.push(this.name)
        });

        ajax('/hypatia/default/table.load',items,'stars');
    }

    function reset() {
        $(".btn-pt").removeClass("btn-success");
        $("#pt-Fe").addClass("btn-success");
        $("#pt-C").addClass("btn-success");
        $("#pt-O").addClass("btn-success");
        $("#pt-Mg").addClass("btn-success");
        $("#pt-Si").addClass("btn-success");
        $("#pt-S").addClass("btn-success");
        $("#pt-Ca").addClass("btn-success");
        $("#pt-Ti").addClass("btn-success");
        $("#tablecols").val($(".btn-success").map(function(index,dom){return dom.id.slice(3)}).toArray().join(","));
        refresh_table();
    }
        
    $("#catalogs").select2().on('change', function (e) {
        refresh();
    });

    {{for item in session.tablecols:}}
    toggle($("#pt-{{=item}}"));
    {{pass}}
    
    function popover(element,link) {
        if($(element).next().hasClass("popover")) {
            $("a+div.popover").remove();
        }
        else {
            $.post(link, function(data) {
                $("a+div.popover").remove();
                $(element).popover({html:true, content: data, placement: "bottom"}).popover("toggle");
            });
        }
        
    }
    
</script>