{{extend 'layout.html'}}
{{working = False}}

<h2>Status: {{for task in status:}}{{=task.status}}{{if task.status != "COMPLETED":}}{{working = True}}{{pass}} {{pass}}</h2>

{{if working:}}
<h2>Working...</h2>
<script type="text/javascript">
  setTimeout(function(){
    location = ''
  },10000)
</script>
{{else:}}
<h2>{{=auth.user.first_name}}, you are awesome. There are {{=stars}} stars.</h2>
<script type="text/javascript">
    var msg = new SpeechSynthesisUtterance('{{=auth.user.first_name}}, you are awesome. There are {{=stars}} stars.');
    window.speechSynthesis.speak(msg);
</script>
{{pass}}