{{extend 'layout.html'}}

<h1>Quality control</h1>

<h2>{{=result}}</h2>
 
{{=form}}

<div class="row">

<div class="col-md-4">
{{for s in solarnorms:}}
{{=s.id}} = {{=s.f_author}} {{if s.f_year > 0:}}({{=s.f_year}}{{=s.f_version}}){{pass}} {{=s.f_notes}}<br/>
{{pass}}
</div>

<div class="col-md-4">
{{for e in elements:}}
{{=e.id}} = {{=e.f_name}}<br/>
{{pass}}
</div>

<div class="col-md-4">
{{for c in catalogs:}}
{{=c.id}} = {{if c.f_display_name:}}{{=c.f_display_name}}{{else:}}{{=c.f_author}} ({{=c.f_year}}{{=c.f_version}}){{if str(c.f_li) == "True":}}-Li{{pass}}{{pass}}<br/>
{{pass}}
</div>