{{extend 'layout.html'}}

<h2>Manage upload</h2><p>{{=form}}</p>

<h2>When you are done uploading files... <a class="btn btn-danger" href="{{=URL('import_data')}}">IMPORT DATA</a></h2>

<h2>Status: {{for task in status:}}{{=task.status}} {{pass}}</h2>