{{extend 'layout.html'}}
{{import datetime}}
{{from gluon.tools import prettydate}}
{{import base64}}

<style>
.mark, mark {
  background-color: #FFFFAA;
  padding: 2px 0;
}
</style>

<div class="container">

<h2>Hypatia Catalog API v1.0.1</h2>
<br/>

<div class="alert alert-info">
    {{if user:}}
    <label class="btn btn-link" for="api_key" style="float:left"><b>Your API key is:</b></label>
    <input id="api_key" name="api_key" type="text" style="width:300px;float:left" class="form-control" value="{{=user.api_key}}">
    <a class="btn btn-default" href="/{{=request.application}}/api/index?new_key=true">Generate new key</a>
    {{else:}}
    <b>An API key is required to access the API. To get one, <a href="/hypatia/default/user/register?_next=/hypatia/api">create an account</a> or <a href="/hypatia/default/user/login?_next=/hypatia/api">log in</a>.</b>
    {{pass}}
</div>

<dl class="dl-horizontal">


        

<dt>What is this?</dt>
<dd>The Hypatia Catalog API allows you to write programs that access the Hypatia Catalog outside of the browser. Let's say that you've written a program in Python to do computational work for your next exoplanet-related discovery, and it takes in data from the Hypatia Catalog as input. You could manually copy and paste data from the plotting tool and get your program to parse the data, but after many requests it can become tedious over time. Instead, with a few simple commands, you can use the API to request the data and it will come to you in an easy to use, machine-readable format.<br/><br/></dd>

<dt>Should I use this?</dt>
<dd>Many computational researchers depend on APIs like this one for their work because it allows their code to access or update online data automatically, without going to the web interface by hand. The Hypatia API will allow you to access properties of the star, element abundances, catalog data, and scatter/histogram plots from the command line (outlined below). If you're not planning on writing code, or if you only need a few stellar abundances for a particular star, you may wish to use the <a href="/hypatia/default/launch">interactive plotting tool</a> instead.<br/><br/></dd>

<dt>What is an API?</dt>
<dd>An application programming interface (API) allows you to write code that interacts with websites. Most major websites provide an API as a courtesy to developers everywhere. For instance, <a href="https://developer.spotify.com/documentation/web-api/">here is what the API for Spotify looks like</a>.<br/><br/></dd>

<dt>How do I try it out?</dt>
<dd>Many programming languages have libraries that can access web APIs. We will focus on the <a href="http://www.python.org/">Python programming language</a> and the <a href="https://2.python-requests.org/en/master/">Requests library</a> for interfacing with APIs. Just like you need to put on socks before putting on shoes, you will need to <a href="http://www.python.org/">make sure Python is installed</a> before <a href="https://2.python-requests.org/en/master/">installing Requests</a>. (We've linked to Requests version 2; you're welcome to use Requests III instead, but keep in mind the syntax may be different.)
  <br/><br/>
  Once you've downloaded Python and Requests, type in "python3" in your terminal to get started. For Windows users, Python 3 should be in your Start menu.
  <br/><br/>
  <mark>We've highlighted some text in yellow like this; as you go through the documentation, all you have to do is copy and paste the commands provided and it will go through the API.</mark><br/><br/></dd>

<dt>Technical information</dt>
<dd>
  If this is your first time using an API and you're using Python and Requests, you may skip this section.<br/><br/>
{{if user:}}
You have used <b>{{=user.api_requests}} of {{=API_LIMIT}}</b> API requests, reseting every hour.
The next reset will be <b>{{=prettydate(user.api_last_request + API_PERIOD,T)}}.</b><br/>
{{else:}}
All users are restricted to <b>{{=API_LIMIT}}</b> requests per hour. Once you log in, the number of requests you have made in the past hour will show up here.</b><br/>
{{pass}}
Rate limit information can be accessed through the response headers:<br/>
<ul>
<li><code>X-Rate-Limit-Limit</code>: The number of allowed requests in the current period</li>
<li><code>X-Rate-Limit-Remaining</code>: The number of remaining requests in the current period</li>
<li><code>X-Rate-Limit-Reset</code>: The number of seconds left in the current period</li>
</ul>
Any requests exceeding the limit will return an HTTP 429 error.<br/>
<br/>
Authentication is via HTTP Basic Auth, using the API key as the username and "api_token" as the password. <b>Logging in to this page on your web browser does not log you in to the API.</b> Many API libraries have HTTP Basic Auth built in, but in case you need to do it manually:
<ul>
    <li>Take the string of the API key, followed by <code>:api_token</code>. {{if user:}}In your case it would look like this: <code>{{=user.api_key}}:api_token</code>{{pass}} </li>
    <li>Then encode it to base 64. {{if user:}}<code>{{=base64.b64encode(user.api_key+":api_token")}}</code>{{pass}}</li>
    <li>Then stick <code>Basic </code> in the front, including the space. {{if user:}}<code>Basic {{=base64.b64encode(user.api_key+":api_token")}}</code>{{pass}}</li>
    <li>Set the header <code>HTTP_AUTHORIZATION</code> to the resulting string and you should be good to go.</li>
</ul>
<br/>
<b>Only HTTPS traffic is allowed.</b> In the interest of security, any HTTP traffic will return a 400 error, without redirection to HTTPS.
<br/><br/>
All inputs are accepted as URL parameters and are optional unless otherwise marked.
<br/><br/>
All outputs are returned in JSON as long as they are valid (HTTP 200). Client errors (HTTP 4xx) are returned as plain text. Server errors (HTTP 5xx) are returned as the HTML for the "Internal error" page. Make sure your code is able to handle these error responses gracefully.
<br/><br/>
The API returns the following error codes:<br/>
200 = Valid code. Response is provided as JSON.<br/>
401 = Invalid API key, or API key not provided.<br/>
410 = API no longer in service. Check hypatiacatalog.com or nataliehinkel.com for a new version.<br/>
429 = Too many requests. User has exceeded quota.<br/>
Other 4xx = Something is wrong with the query. An error message will be left in the response.<br/>
503 = Temporarily down for maintenance. Try again later.<br/>
Other 5xx = Server error. Check your query; if it looks OK then check {{=request.env.http_host}} to see if the server is up. It may come back later.<br/><br/>
</dd>

<dt>GET solarnorm</dt>
<dd>Returns a list of solar normalizations used by Hypatia.<br/>

<dl class="dl-horizontal">
<dt>Inputs</dt>
<dd>none</dd>
<dt>Outputs</dt>
<dd>
    <code>author</code> Author(s) of the paper referencing the solar normalization.<br/>
    <code>year</code> Year of the paper referencing the solar normalization.<br/>
    <code>version</code> Letter following year of the paper referencing the solar normalization.<br/>
    <code>notes</code> Additional notes as needed.<br/>
    <code>identifier</code> Used to identify the solar normalization in later API commands (e.g. GET composition).<br/>
</dd>
</dl>
<pre>
GET https://hypatiacatalog.com/hypatia/api/v1/solarnorm
Authentication: Basic (username: {{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}, password: api_token)

Python code:
<mark>import requests
API_KEY = "{{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}"
entry = requests.get("https://hypatiacatalog.com/hypatia/api/v1/solarnorm",auth=(API_KEY,"api_token"))
print(entry.json())</mark>

Result:
[
    {
      "notes": "",
      "identifier": "abs",
      "year": 0,
      "version": "",
      "author": "Absolute"
    },
    {
      "notes": "",
      "identifier": "and89",
      "year": 1989,
      "version": "",
      "author": "Anders & Grevesse"
    },
    ...
]
</pre>
<br/><br/></dd>

<dt>GET element</dt>
<dd>Returns a list of elements used by Hypatia.

<dl class="dl-horizontal">
<dt>Inputs</dt>
<dd>none</dd>
<dt>Outputs</dt>
<dd>
    An array with all the elements used in Hypatia, including singly ionized elements.
</dd>
</dl>
<pre>
GET https://hypatiacatalog.com/hypatia/api/v1/element
Authentication: Basic (username: {{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}, password: api_token)

Python code:
<mark>import requests
API_KEY = "{{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}"
entry = requests.get("https://hypatiacatalog.com/hypatia/api/v1/element",auth=(API_KEY,"api_token"))
print(entry.json())</mark>

Result:
[
  "FeH",
  "OH",
  "MgH",
  "AlH",
  "CaH",
  "TiH",
  "CH",
  "LiH",
  "NaH",
  ...
]
</pre>
<br/><br/></dd>

<dt>GET catalog</dt>
<dd>Returns a list of catalogs used by Hypatia.

<dl class="dl-horizontal">
<dt>Inputs</dt>
<dd>none</dd>
<dt>Outputs</dt>
<dd>
    <code>author</code> Author(s) of the paper referencing the solar normalization.<br/>
    <code>year</code> Year of the paper referencing the solar normalization.<br/>
    <code>version</code> Letter following year of the paper referencing the solar normalization.<br/>
    <code>override_name</code> Used to override the name of the paper as needed.<br/>
    <code>li</code> Returns true for the lithium versions of Luck et al. 2007 and 2015.<br/>
    <code>id</code> Used to identify the catalog in later API commands (e.g. GET data).<br/>
</dd>
</dl>
<pre>
GET https://hypatiacatalog.com/hypatia/api/v1/catalog
Authentication: Basic (username: {{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}, password: api_token)

Python code:
<mark>import requests
API_KEY = "{{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}"
entry = requests.get("https://hypatiacatalog.com/hypatia/api/v1/catalog",auth=(API_KEY,"api_token"))
print(entry.json())</mark>

Result:
[
  {
    "author": "Adamow et al.",
    "override_name": null,
    "li": false,
    "version": "",
    "year": 2014,
    "id": 514
  },
  {
    "author": "Luck et al.",
    "override_name": null,
    "li": true,
    "version": "",
    "year": 2015,
    "id": 515
  },
  ...
]
</pre>
<br/><br/></dd>

<dt>GET star</dt>
<dd>Returns data for each star in the Hypatia database as well as its planets. Multiple stars can be submitted at once.

<dl class="dl-horizontal">
<dt>Inputs</dt>
<dd>
    <code>hip</code> The Hipparcos ID of the star. Multiple IDs can be submitted.<br/>
    <code>hd</code> The Henry Draper ID of the star. Multiple IDs can be submitted.<br/>
    <code>2MASS</code> The 2MASS ID of the star. Multiple IDs can be submitted.<br/>
    <b>Note:</b> Only one of hip, hd, or 2mass needs to be submitted. Submit multiple IDs to look up multiple stars. IDs can be a mix of hip, hd and 2mass if needed.
</dd>
<dt>Outputs</dt>
<dd>
    <code>status</code> Returns "found" if the star is found and "not-found" if the star is not found.<br/>
    <code>bd,dist,teff,logg,disk,bmag,ra,ra_proper_motion,spec,2MASS,hip,vmag,bv,dec_proper_motion,hd,dec,u,v,w,x,y,z</code> The property of the star as mentioned in the Hypatia Catalog.<br/>
    <code>planets</code> Returns each planet hosted by the star. For each planet we get these variables: <code>name,p,p_err,m_p,m_p_err,e,e_err,a,a_err</code>
</dd>
</dl>
<pre>
GET https://hypatiacatalog.com/hypatia/api/v1/star?hip=12345&hip=56789&hip=113044
Authentication: Basic (username: {{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}, password: api_token)

Python code:
<mark>import requests
API_KEY = "{{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}"
params = {"hip": [12345,56789,113044]}
entry = requests.get("https://hypatiacatalog.com/hypatia/api/v1/star",auth=(API_KEY,"api_token"),params=params)
print(entry.json())</mark>

Result:
[
  {
    <kbd>HIP 12345 wasn't found</kbd>
    "hip": 12345,
    "status": "not-found"
  },
  {
    <kbd>HIP 56789 was found and has no planets</kbd>
    "bd": "B+47 1894",
    "dist": 99.206,
    "teff": 6829.0,
    "logg": null,
    "planets": [], <kbd>no planets</kbd>
    ...
    "hip": 56789, <kbd>there's the HIP</kbd>
    ...
    "status": "found", <kbd>there's the status</kbd>
    ...
  },
  {
    <kbd>HIP 113044 was found and has one planet</kbd>
    "bd": null,
    ...
    "planets": [ <kbd>one planet found</kbd>
      {
        "e_err": 0.078,
        "p": 1311.0,
        "m_p_err": 0.13,
        "e": 0.07,
        "name": "b",
        "a": 2.56,
        "p_err": 49.0,
        "m_p": 1.26,
        "a_err": 0.17
      }
    ],
    ...
    "hip": 113044, <kbd>there's the HIP</kbd>
    ...
    "status": "found", <kbd>there's the status</kbd>
    ...
  }
]
</pre>
<br/><br/></dd>

<dt>GET composition</dt>
<dd>Returns a list of compositions for a given element, star, and solar normalization, and computes the median and mean value for that group. More than one group can be supplied by submitting the groups one after the other: element, star, solar normalization, element, star, solar normalization, etc. Alternatively, you can submit element, star, element, star, etc., in which case Lodders et al. 2009 is assumed.

<dl class="dl-horizontal">
<dt>Inputs</dt>
<dd>
    <code>element</code> Name of the element, case insensitive. You may include or omit the trailing H.<br/>
    <code>star</code> Hipparcos ID of the star.<br/>
    <code>solarnorm</code> Identifier for the solar normalization. See GET solarnorm for solar normalization identifiers.<br/>
    <b>Note:</b> There should be the same number of elements, stars, and (if included) solar normalizations. If solar normalizations are omitted, Lodders et al. 2009 is assumed for all compositions.
</dd>
<dt>Outputs</dt>
<dd>
    <code>hip</code> The Hipparcos ID for the star in the group.<br/>
    <code>element</code> The element for the group.<br/>
    <code>solarnorm</code> The solar normalization for the group.<br/>
    <code>all_values</code> All values referencing this group as well as their corresponding catalogs.<br/>
    <code>median</code> The median value and any catalogs that reference it. More than one catalog may be returned in case of a tie.<br/>
    <code>mean</code> The mean value.<br/>
</dd>
</dl>
<pre>
GET https://hypatiacatalog.com/hypatia/api/v1/composition?hip=98355&element=ca&solarnorm=asp05
Authentication: Basic (username: {{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}, password: api_token)

Python code:
<mark>import requests
API_KEY = "{{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}"
params = {"hip": 98355, "element": "ca", "solarnorm": "asp05"}
entry = requests.get("https://hypatiacatalog.com/hypatia/api/v1/composition",auth=(API_KEY,"api_token"), params=params)
print(entry.json())</mark>

Result:
[
  {
    "hip": 98355,
    "solarnorm": "asp05",
    "all_values": [
      {
        "catalog": {
          "author": "Edvardsson et al.",
          "override_name": null,
          "li": false,
          "version": "",
          "year": 1993,
          "id": 584
        },
        "value": -0.49
      },
      ...
    ],
    "median": [
      {
        <kbd>The median value is -0.49. Since two catalogs have this value, both values are returned</kbd>
        "catalog": {
          "author": "Edvardsson et al.",
          "override_name": null,
          "li": false,
          "version": "",
          "year": 1993,
          "id": 584
        },
        "value": -0.49
      },
      {
        "catalog": {
          "author": "Bensby et al. 2014]",
          "override_name": null,
          "li": false,
          "version": "",
          "year": 2014,
          "id": 537
        },
        "value": -0.49
      }
    ],
    "element": "caH",
    "mean": -0.457 <kbd>there's the mean</kbd>
  }
]
</pre>
<br/>
<b>Note:</b> If you are using Requests, multiple sets of elements, stars and solar normalizations are defined using arrays like this:
<pre>
params = {"hip": [98355,98355], "element": ["fe","ca"], "solarnorm": ["asp05","asp05"]}
</pre>
You may omit the solar normalization, in which case Lodders et al. 2009 is assumed:
<pre>
params = {"hip": [98355,98355], "element": ["fe","ca"]}
</pre>
<br/><br/>
</dd>

<dt>GET data</dt>
<dd>Returns scatter plot and histogram raw data for each graph on the Hypatia Catalog, as though it were submitted on this website. As a demonstration, try submitting this without any query variables; you will receive the X and Y coordinates of each point on the [Si/H] vs [Fe/H] default plot. Similarly, if you submit <code>mode=hist</code>, you will receive the default histogram provided by "Stars With/Without Planets".

<dl class="dl-horizontal">
<dt>Inputs</dt>
<dd>
    <code>mode</code> If mode is set to hist, returns a histogram provided by "Stars With/Without Planets".
    <code>filter1_1</code> The first filter. This field can be a stellar property, planet property, or numerator for the element ratio. Stellar and planet properties are listed in GET star. Element ratios are listed in GET element; it is case sensitive and the trailing H should be omitted.<br/>
    <code>filter1_2</code> The denominator for the element ratio, if one is given for filter1_1. Leave blank for H.<br/>
    <code>filter1_3</code> Minimum value for the filter.<br/>
    <code>filter1_4</code> Maximum value for the filter.<br/>
    <code>filter2...</code> Same for the second filter.<br/>
    <code>filter3...</code> Same for the third filter.<br/>
    <code>xaxis1, xaxis2</code> X axis for the scatter plot or histogram. Follows the same pattern as filter1_1 and filter1_2. If omitted, [Fe/H] is assumed.<br/>
    <code>yaxis1, yaxis2</code> Y axis for the scatter plot. Follows the same pattern as filter1_1 and filter1_2. If omitted, [Si/H] is assumed.<br/>
    <code>zaxis1, zaxis2</code> Z axis for the scatter plot. Follows the same pattern as filter1_1 and filter1_2.<br/>
    <code>statistic</code> Choose whether to return the <code>median</code> or the <code>mean</code>. If omitted, median is assumed.<br/>
    <code>cat_action</code> Choose whether to <code>allow</code> or <code>exclude</code> given catalogs. If omitted, exclude is assumed.<br/>
    <code>catalogs</code> Catalog IDs to allow or exclude. See GET catalogs to choose catalog IDs.<br/>
    <code>star_action</code> Choose whether to <code>allow</code> or <code>exclude</code> given stars. If omitted, exclude is assumed.<br/>
    <code>star_list</code> Stars to allow or exclude.<br/>
    <code>star_source</code> Choose wheter stars are Hipparcos IDs or Henry Draper IDs. If omitted, hip is assumed.<br/>
    <code>normalize</code> Normalizes the histogram.<br/>
    <code>solarnorm</code> Solar normalization identifier. See GET solarnorms to choose a solar normalization. If omitted, Lodders et al. 2009 is assumed.
</dd>
<dt>Outputs</dt>
<dd>
    <code>solarnorm</code> Information about the given solarnorm.<br/>
    <code>count</code> Number of stars or planets in the query.<br/>
    <code>labels</code> Labels for each axis in the query.<br/>
    <code>values</code> If a scatter plot, return all the Hipparcos IDs, X/Y/Z coordinates, and values for each filter provided.<br/>
    <code>all_hypatia</code> If a histogram, return the values of each bin for all Hypatia stars.<br/>
    <code>exo_hosts</code> If a histogram, return the values of each bin for only the Hypatia stars that host planets.<br/>
    <code>edges</code> If a histogram, return the edges for each bin.
</dd>
</dl>
<pre>
GET https://hypatiacatalog.com/hypatia/api/v1/data
Authentication: Basic (username: {{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}, password: api_token)

Python code:
<mark>import requests
API_KEY = "{{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}"
entry = requests.get("https://hypatiacatalog.com/hypatia/api/v1/data",auth=(API_KEY,"api_token"))
print(entry.json())</mark>

Result:
{
    "count": 5584,
    "solarnorm": {
      "notes": "",
      "identifier": "lod09",
      "year": 2009,
      "version": "",
      "author": "Lodders et al."
    },
    "labels": {
      "xaxis": "[Fe/H]",
      "yaxis": "[Si/H]"
    },
    "values": [
      {
        "hip": 111944,
        "xaxis": -0.195,
        "yaxis": 0.06
      },
      {
        "hip": 92512,
        "xaxis": -0.51,
        "yaxis": -0.18
      },
      ... 
    ]
}
</pre>
<pre>
GET https://hypatiacatalog.com/hypatia/api/v1/data?mode=hist
Authentication: Basic (username: {{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}, password: api_token)

Python code:
<mark>import requests
API_KEY = "{{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}"
params = {"mode":"hist"}
entry = requests.get("https://hypatiacatalog.com/hypatia/api/v1/data",auth=(API_KEY,"api_token"), params=params)
print(entry.json())</mark>

Result:
{
    "solarnorm": {
      "notes": "",
      "identifier": "lod09",
      "year": 2009,
      "version": "",
      "author": "Lodders et al."
    },
    "count": 6156,
    "exo_hosts": [
      0,
      0,
      0,
      ...
    ],
    "all_hypatia": [
      2,
      3,
      6,
      ...
    ],
    "labels": {
      "xaxis": "[Fe/H]",
      "yaxis": "Number of Stellar Systems"
    },
    "edges": [
      -2.5,
      -2.3225,
      -2.145,
      ...
    ]
}
</pre>
<br/><br/></dd>

<dt>ASCII tables</dt>
<dd>If you wish to convert JSON data to ASCII tables, we recommend using the <a href="https://www.astropy.org/">astropy</a> library, which contains <a href="http://docs.astropy.org/en/stable/io/ascii/write.html">tools for writing ASCII tables</a>. A word of warning: many of the queries provided by the Hypatia API don't have the same number of columns for each row. For instance, if you submit a request for multiple stars and one of those stars has planet information in the catalog, it won't fit neatly into one table. In order for the astropy ASCII table functions to work, each row has to have the same number of columns.<br/><br/>
Here is how to convert the default Hypatia scatter plot (x=[Fe/H], y=[Si/H]) to an ASCII table, assuming that <a href="https://www.astropy.org/">astropy</a> is installed:<br/><br/>
<pre>
<mark>import requests
from astropy.io import ascii

API_KEY = "{{if user:}}{{=user.api_key}}{{else:}}your-api-key-here{{pass}}"
entry = requests.get("https://hypatiacatalog.com/hypatia/api/v1/data",auth=(API_KEY,"api_token"))
json = entry.json()
ascii.write(json['values'],format="fixed_width_two_line",formats={"xaxis":"%.2f","yaxis":"%.2f"})</mark>
  
Result:
   hip xaxis yaxis
------ ----- -----
111944 -0.20  0.06
 92512 -0.51 -0.18
 85805 -0.10  0.12
 88839 -0.00  0.09
 88788  0.04  0.23
  7539  0.19  0.22
 56278  0.06  0.07
 56363  0.40  0.46
 56572  0.26  0.34
 56884 -0.07 -0.07
...</pre><br/><br/>
</dd>

<dt>Version history</dt>
<dd>1.0.1: Added clarification to GET element regarding multiple set requests.<br/>
1.0.0: Initial release.
<br/><br/></dd>

<dt>Reference</dt>
<dd>This API is modeled on the <a href="https://github.com/toggl/toggl_api_docs/">Toggl API</a>.<br/>
Further reference: <a href="https://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api">here</a>
and <a href="https://semver.org/">here</a></dd>

</dl>
</div>